<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6iWa4lLa6-eRSwDD1DORH3Qr7_MqUHFw</string>
	<key>GCM_SENDER_ID</key>
	<string>647679699378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ticket-frontend</string>
	<key>PROJECT_ID</key>
	<string>ticketstory-68efa</string>
	<key>STORAGE_BUCKET</key>
	<string>ticketstory-68efa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:647679699378:ios:5f702fbac7bfd985f41cab</string>
</dict>
</plist>
